!!!
%html
  %head
    %title KinectWeb
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js", :type => "text/javascript"}
    :javascript
      function drawPoint(point) {
        var context = $('#display_2d')[0].getContext("2d");
        console.log(point.z);
        context.fillStyle = "rgb("+ point.z + ",255,255)";
        context.fillRect(point.x / 640 * 640, point.y / 480 * 480, 8, 8);
      }

      var SocketKlass = "MozWebSocket" in window ? MozWebSocket : WebSocket;
      var ws = new SocketKlass('ws://localhost:3000/echo');

      ws.onopen = function() {
        console.log("conneted");
      };

      ws.onmessage = function(e) {
        var data = $.parseJSON(e.data);
        $.each(data.points, function(i, point) {
          drawPoint(point);
        });
      };

      ws.onclose = function() {
        console.log("closed");
      }; 

      ws.onerror = function() {
        alert("error");
      };

  %body
    %canvas#display_2d{:width => 640, :height => 480}
      &nbsp;
