!!!
%html
  %head
    %title KinectWeb
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js", :type => "text/javascript"}
    :javascript
      function drawPoint(point) {
        var context = $('#display_2d')[0].getContext("2d");
        context.fillStyle = "#FF0000";
        context.fillRect(point.x, point.y, 1, 1);
      }

      var SocketKlass = "MozWebSocket" in window ? MozWebSocket : WebSocket;
      var ws = new SocketKlass('ws://localhost:3000/echo');

      ws.onopen = function() {
        console.log("conneted");
      };

      ws.onmessage = function(e) {
        var data = $.parseJSON(e.data);
        $.each(data.points, function(i, point) {
          $('#debug').append( $('<li>', {
            text: "x: " + point.x  + ", y: " + point.y + ", z: " + point.z
          }) );

          drawPoint(point);
        });
      };

      ws.onclose = function() {
        console.log("closed");
      }; 

      ws.onerror = function() {
        alert("error");
      };

  %body
    %canvas#display{:width => 200, :height => 200}
    %ul#debug
